<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>clinica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button id="clinica">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Clínicas parceiras</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Clique aqui e conheça todas as nossas clínicas parceiras e veja sua classificação!
      </ion-card-content>
    </ion-card>
  </button>
  <ion-modal #modal trigger="clinica" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Connor Smith</h2>
              <p>Sales Rep</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <button (click)="alertando()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Cadastro de Clínicas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Clique aqui e faça o cadastro da sua clínica.
      </ion-card-content>
    </ion-card>
  </button>

  <button expand="block" (click)="setOpen(true)">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Excluimento de clínicas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Clique aqui para excluir uma clínica!
      </ion-card-content>
    </ion-card>  
  </button>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list> 
          <ion-item-sliding *ngFor="let clinicas of listaClinicas">
          <button>
            <!-- <ion-item (click)="agendar(clinicas)">  -->
            <ion-item> 
              <ion-checkbox slot="start"></ion-checkbox>
            
          </ion-item>
        </button> 
          </ion-item-sliding>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>
