<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>  
</ion-toolbar>
<ion-title>Perfil</ion-title>
</ion-header>
<ion-content>
  <div class="ion-page">
    
    <!-- info -->
    <ion-card>
      <img src="https://cdn.pixabay.com/photo/2018/04/18/18/56/user-3331256__340.png" />
      <ion-card-header>
        <ion-card-title></ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-card-subtitle>Ingredientes</ion-card-subtitle>
      </ion-card-content>
      
      <ion-card-content>
        <ion-card-subtitle>Modo de Preparo</ion-card-subtitle>
      </ion-card-content>
    </ion-card>

    <!-- botao -->
    <ion-content class="ion-padding">
      <ion-button id="open-modal" expand="block">ATUALIZAR</ion-button>
      <ion-modal #modal trigger="open-modal" [canDismiss]="canDismiss">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>ATUALIZAR</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="modal.dismiss()">atualizar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>

          <!-- atualizar pos botao -->
          <ion-content class="ion-padding">
            <ion-card>
              <img src="https://cdn.pixabay.com/photo/2018/04/18/18/56/user-3331256__340.png" />
              <ion-card-header>
                <ion-card-title></ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                <ion-card-subtitle>Ingredientes</ion-card-subtitle>
              </ion-card-content>
              
              <ion-card-content>
                <ion-card-subtitle>Modo de Preparo</ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-content>

        </ng-template>
      </ion-modal>
    </ion-content>
  </div>
</ion-content>
