

<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>

    <ion-row> 
      <ion-col>
        <button id="open-agendar">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://cdn-icons-png.flaticon.com/512/2001/2001546.png" />
            <ion-card-header>
              <ion-card-title>Agendamento</ion-card-title>
            </ion-card-header>
          </ion-card>
        </button>
        <ion-modal #modal trigger="open-agendar" [canDismiss]="canDismiss" [presentingElement]="presentingElement">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Agendamento</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="modal.dismiss()">Close</ion-button>
                </ion-buttons>
              </ion-toolbar>
              <ion-searchbar></ion-searchbar>
            </ion-header>
            <ion-content class="ion-padding">
              <ion-list> 
                <ion-item> 
                  <ion-thumbnail slot="start">
                    <img alt="Silhouette of mountains" src="https://ogimg.infoglobo.com.br/cultura/24768542-59c-6dc/FT1086A/zecapagodinho.jpg" />
                  </ion-thumbnail>
                  <ion-label>Clínica do ZECA</ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>
      
    <ion-row>
      <ion-col>
        <button [routerLink]="['/historico']">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Histórico</ion-card-title>
            </ion-card-header>
          </ion-card>
        </button>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-grid>

    <ion-row> 
      <ion-col>
        <button [routerLink]="['/clinicas']">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Clinicas</ion-card-title>
            </ion-card-header>
          </ion-card>
        </button>
        
      </ion-col>

      <ion-col>
        <button id="open-modal">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Não Sei</ion-card-title>
            </ion-card-header>
          </ion-card>
        </button>
      </ion-col>
    </ion-row>

  </ion-grid>
  
  

</ion-content>


