<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>  
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-grid>
    <ion-row>
    <ion-col size="8" offset="2">
        <button [routerLink]="['/agendamento']">
          <ion-card>
            <img alt="Silhouette of mountains" src="assets/img/marcarconsulta.png" />
            <ion-card-header>
              <ion-card-title>Agendamento</ion-card-title>
            </ion-card-header>
          </ion-card>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>   
    <ion-row>    
      <ion-col size="8" offset="2">
        <button [routerLink]="['/historico']">
          <ion-card>
            <img alt="Silhouette of mountains" src="assets/img/histórico.png"   />
            <ion-card-header>
              <ion-card-title>Histórico</ion-card-title>
            </ion-card-header>
          </ion-card>
        </button>
      </ion-col>
    </ion-row> 
  <ion-grid>  
    

  <ion-grid>
    <ion-row > 
      <ion-col size="8" offset="2">
        <button [routerLink]="['/clinica']">
          <ion-card>
            <img alt="Silhouette of mountains" src="assets/img/clinicas.png" />
            <ion-card-header>
              <ion-card-title>Clinicas</ion-card-title>
            </ion-card-header>
          </ion-card>
        </button>
      </ion-col>
      </ion-row>
  </ion-grid>
  
  




